$primary: rgba(0, 255, 177, .7);
$secondary: yellow;

@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&family=Roboto+Mono:wght@300&display=swap');

.home {
  background: rgb(255,119,215);
  background: linear-gradient(270deg, rgba(255,119,215,1) 50%, rgba(255,218,0,1) 100%);
  font-family: 'Roboto Mono', monospace;
}

// Styles the exterior fonts on the forms
.form {
  font-family: 'Roboto Mono', monospace;
  color: white;
}

.userhead {
  color: $primary;
}

// customized the bootstrap form fields (transparencies etc)
.field {
  border: none;
  background: transparent;
  border-bottom: 3px dashed white;
  color: white;
}

// removed all the borders from the buttons
.button {
  border: none;
  margin: 2%;
}

// Used this to remove bullet points in all lists
.list {
    list-style-type: none;
}

// I switched header tags to p tags for more freedom with the page headers
.ptitles {
  font-size: 48px;
}

// Styles the main boxes where various lists are indexed
.feedbox {
  border: dashed white 5px;
  border-radius: 30px;
  align-content: center;
  padding: 5%;
  font-family: 'Roboto Mono', monospace;
  color: white;
  background-color: rgba(0, 0, 0, .2);
  margin: auto;
}

// The line between posts or listed elements
.linebetween {
  border-bottom: 3px dashed white;
  padding: 5px;
}

// class selector SPECIFICALLY for logo
.logo {
  font-family: 'Recursive', sans-serif;
  font-size: 5vw;
}

.logo-subhead {
  line-height: 1px;
  font-size: 30%;
  margin-left: 21%;
}

.navbar {
  font-family: 'Roboto Mono', monospace;
  font-size: 2vw;
}

.authnav {
  font-family: 'Roboto Mono', monospace;
  font-size: 2vw;
  display: flex;
  justify-content: space-between;
}

.block-nav {
  display: block;
  position: absolute;
  right: 1.5rem;
  top: 0;
  text-align: right;
}

.authnavlinks {
  color: white;
}

.welcome {
  font-family: 'Recursive', sans-serif;
  font-size: 5vh;
  color: white;
  margin: auto;
  width: 25%;
  padding-top: 275px;
}
